.top-scroll-class{
    animation: top-animation-scroll 1.5s forwards;
}

.right-scroll-class{
    animation: right-animation-scroll 1.5s forwards;
}

.bottom-scroll-class{
    animation: bottom-animation-scroll 1.5s forwards;
}

.left-scroll-class{
    animation: left-animation-scroll 1.5s forwards;
}

.animation {
    opacity: 0;
}

@keyframes top-animation-scroll{
    from {
    transform: translateY(-50%);
    opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes right-animation-scroll{
    from {
    transform: translateX(100%);
    opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes bottom-animation-scroll{
    from {
    transform: translateY(50%);
    opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes left-animation-scroll{
    from {
    transform: translateX(-100%);
    opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}